body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, rgb(8, 138, 245), rgb(43, 170, 0));
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-image: linear-gradient(to right, rgb(8, 138, 245), rgb(43, 170, 0));
    color: lightgreen;
    font-size: 16pt;
    text-align: right;
}

a {
}

a:visited {
    color: yellow;
    background-color: blueviolet;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}
a:active{
    color: pink;
    background-color: green;
}
